@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 32; /* Bleu nuit */
  --background-end-rgb: 5, 5, 32;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050520; /* Le nouveau fond bleu nuit */
}

/* Scrollbar personnalisée pour faire plus pro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050520;
}
::-webkit-scrollbar-thumb {
  background: #1e2380;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e6007e;
}